@charset "UTF-8";

//
// SASS Main Styles //
//

$primary-font: "Raleway", sans-serif;
$dark: #000a13;
$lightgrey: #f3f3f3;
$darkgrey: #7d8085;
$alt-primary: #0080ef;
$alt-primary-green: #2ad500;
$alt-secondary: #ff9711;
$white: #ffffff;
$black: #000000;
$border-radius: 8px;

//
// End of SASS Main Styles //
//

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: $primary-font;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: $black;
  background-color: $lightgrey;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  color: $black;
  line-height: 1.2em;

  @media screen and (max-width: 992px) {
    font-size: 1.1em;
  }
}

h1,
h2 {
  font-weight: 800;

  @media screen and (max-width: 992px) {
    font-size: 1.5em;
  }
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  text-decoration: none;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

p {
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

//
// Buttons //
//

.btn-primary {
  width: fit-content;
  background-color: rgba(0, 128, 239, 0.1);
  color: $alt-primary;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: $border-radius;
  padding: 10px 20px;
  transition: ease 0.2s;

  &:hover {
    color: $white;
    background-color: rgba(0, 128, 239, 0.8);
  }

  &:focus {
    color: $white;
    background-color: rgba(0, 128, 239, 0.8);
    outline: none;
  }
}

.btn-alt {
  width: fit-content;
  background-color: transparent;
  color: $dark;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: $border-radius;
  padding: 10px 20px;
  transition: ease 0.2s;

  &:hover {
    color: $white;
    background-color: rgba(0, 128, 239, 0.8);
  }

  &:focus {
    color: $white;
    background-color: rgba(0, 128, 239, 0.8);
    outline: none;
  }
}

//
// End of Buttons //
//

//
// General Styles //
//

.pos-rel {
  position: relative;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 0;
}

//
// End of General Styles //
//

.app-container {
  display: flex;
  width: 100%;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  .home {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  .courses {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  .messages {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  .manage {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }

  .settings {
    flex: auto;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
  }
}

.navigation {
  background-color: $dark;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 30px 20px;
  width: 100%;
  max-width: 350px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 992px) {
    position: absolute;
    left: 0;
    display: none;
  }

  svg {
    width: 100%;
    max-width: 28px;
    margin-right: 10px;
  }

  .st0 {
    fill: none;
  }

  .st1 {
    fill: $darkgrey;
  }

  .navbar-brand {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 220px;
      margin: 60px 0 80px 0;
    }
  }

  .nav-container {
    display: flex;
    flex-direction: column;

    .navbar-nav {
      text-align: left;

      .nav-link {
        color: $darkgrey;
        border-radius: $border-radius;
        display: flex;
        align-items: center;
        font-weight: 700;
        padding: 20px;
        margin: 5px 0;
        transition: ease all 0.1s;

        &:hover {
          background-color: $darkgrey;
          border-radius: $border-radius;
          color: $white;

          .st1 {
            fill: $white;
          }
        }
      }
      .active {
        background-color: $darkgrey;
        border-radius: $border-radius;
        color: $white;

        .st1 {
          fill: $white;
        }
      }
    }
  }

  .nav-profile {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      max-width: 50px;
      margin-right: 10px;
      border-radius: 50%;
    }

    .profile-content {
      display: flex;
      flex-direction: column;

      .profile-name {
        color: $white;
        font-weight: 700;
      }

      .profile-email {
        color: $darkgrey;
      }
    }
  }

  .notification-bubble {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: $alt-secondary;
    color: $white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $white;
      font-weight: 600;
      font-size: 0.9em;
      padding-bottom: 4px;
    }
  }
}

.nav-mobile {
  background-color: $dark;
  position: sticky;
  bottom: 0;
  z-index: 10;
  padding: 10px 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 992px) {
    display: none;
  }

  .nav-container {
    width: 100%;

    .navbar-nav {
      text-align: center;
      width: 100%;
      flex-direction: row;

      svg {
        width: 100%;
        max-width: 28px;
      }

      .st0 {
        fill: none;
      }

      .st1 {
        fill: $darkgrey;
      }

      li {
        width: 25%;
        padding: 0 10px;
      }

      .nav-link {
        color: $darkgrey;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        padding: 5px;
        transition: ease all 0.1s;

        &:hover {
          background-color: $darkgrey;
          border-radius: $border-radius;
          color: $white;

          .st1 {
            fill: $white;
          }
        }
      }
      .active {
        color: $white;

        .st1 {
          fill: $white;
        }
      }
    }
  }

  .notification-bubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $alt-secondary;
    color: $white;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    p {
      color: $white;
      font-weight: 600;
      font-size: 0.9em;
      padding-bottom: 4px;
    }
  }
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: $dark;
  padding: 10px 20px;

  @media screen and (min-width: 992px) {
    display: none;
  }

  img {
    width: 100%;
    max-width: 100px;
  }

  .mobile-profile {
    display: flex;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
}

// The Searchbar Styles

.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
  margin-bottom: 20px;

  img {
    width: 100%;
    max-width: 25px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
  }

  .form-control {
    padding: 12px 60px 10px 10px;
    padding-left: 60px;
    border: none;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
    transition: ease 0.2s;

    &::placeholder {
      font-weight: 600;
      opacity: 0.5;
    }

    &:active {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    }

    &:focus {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    }
  }
}

// The main Courses Page Styles

.courses {
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem;

    @media screen and (max-width: 1560px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    @media screen and (max-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 1rem;

    @media screen and (max-width: 1560px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  .courses-btns {
    display: flex;
    margin-bottom: 20px;

    button:first-child {
      margin-right: 20px;
    }
  }

  .continue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: $alt-primary;
      transition: ease 0.1s;

      &:hover {
        cursor: pointer;
        color: $dark;
      }
    }
  }

  .active-course {
    position: relative;
    z-index: 4;
    border-radius: $border-radius;
    transition: ease 0.2s;
    height: 100%;

    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column-reverse;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;

      @media screen and (max-width: 992px) {
        box-shadow: none;
      }
    }

    &:hover img {
      filter: brightness(1.05);
    }

    img {
      width: 100%;
      position: relative;
      z-index: 4;
      border-radius: $border-radius;
      transition: ease 0.2s;
    }

    .course-tag {
      background-color: $alt-primary;
      padding: 5px 10px;
      border-radius: $border-radius;
      width: fit-content;

      p {
        @media screen and (max-width: 992px) {
          font-size: 12px;
        }
      }
    }

    .course-info {
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      padding: 20px;
      position: absolute;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      z-index: 6;
      left: 20px;
      bottom: 20px;
      width: calc(100% - 40px);

      @media screen and (max-width: 992px) {
        backdrop-filter: unset;
        background-color: $dark;
        padding: 20px;
        margin-top: 10px;
        position: initial;
        width: 100%;
        height: 100%;
      }

      h4 {
        color: $white;
        margin: 15px 0;
      }
    }

    .progress {
      height: 5px;
      border-radius: 1000px;
      background-color: $lightgrey;

      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    .progress-mobile {
      height: 5px;
      border-radius: 1000px;
      background-color: $darkgrey;
      display: flex;
      margin-bottom: 10px;

      @media screen and (min-width: 992px) {
        display: none;
      }
    }

    .progress-bar {
      border-radius: 1000px;
      background-color: $alt-primary-green;
    }

    .width1 {
      width: 72%;
    }

    .width2 {
      width: 40%;
    }
  }

  .intro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    a {
      color: $alt-primary;
      transition: ease 0.1s;

      &:hover {
        cursor: pointer;
        color: $dark;
      }
    }
  }

  .pink {
    background-color: #d21db2;

    &:hover {
      background-color: #d21db1d7;
    }
  }

  .blue {
    background-color: #006af6;

    &:hover {
      background-color: #006af1d7;
    }
  }

  .yellow {
    background-color: #ffbf4d;

    &:hover {
      background-color: #ffbf41d7;
    }
  }

  .green {
    background-color: #00b38b;

    &:hover {
      background-color: #00b381d7;
    }
  }

  .featured-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    border-radius: $border-radius;
    transition: ease 0.2s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;

      @media screen and (max-width: 992px) {
        box-shadow: none;
      }
    }

    h4 {
      color: $white;
      margin-bottom: 20px;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      color: $white;
    }

    i {
      color: $white;
      margin-right: 10px;
    }

    .course-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .course-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .course-icon {
        width: 100%;
        max-width: 80px;
        padding-top: 25px;
      }

      .lessons-icon {
        width: 100%;
        max-width: 22px;
        margin-right: 10px;
      }

      .total-lessons {
        display: flex;
        align-items: center;
      }
    }
  }

  .category-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: $border-radius;
    transition: ease 0.2s;

    &:hover img {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
      filter: brightness(1.05);

      @media screen and (max-width: 992px) {
        box-shadow: none;
      }
    }

    &:hover .course-info {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
      background-color: #000a11d7;

      @media screen and (max-width: 992px) {
        box-shadow: none;
      }
    }

    img {
      width: 100%;
      border-radius: $border-radius;
      transition: ease 0.2s;
    }

    h4 {
      color: $white;
      font-size: 1.1em;
      margin-bottom: 15px;
    }

    a {
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      color: $white;
    }

    i {
      color: $white;
      margin-right: 10px;
    }

    .course-info {
      background-color: $dark;
      border-radius: $border-radius;
      padding: 20px;
      margin-top: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: ease 0.2s;

      .course-tag {
        background-color: $alt-primary;
        padding: 5px 10px;
        border-radius: $border-radius;
        width: fit-content;

        p {
          font-size: 12px;
        }
      }
    }
  }
}

// The main Messages Page Styles

.messages {
  .col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 1rem;

    @media screen and (max-width: 1560px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .col-8 {
    flex: 0 0 66.666%;
    max-width: 66.66%;
    padding: 1rem;

    @media screen and (max-width: 1560px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  h1 {
    margin-bottom: 20px;
  }

  .active-messages {
    height: 82vh;
    background-color: $white;
    border-radius: $border-radius;
    padding: 30px;

    .searchbar {
      margin-left: 10px;
      margin-right: 10px;
    }

    .active-messages-inner {
      background-color: $white;
      height: 65vh;
      overflow: auto;
      padding: 0 10px;

      .message-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $lightgrey;
        border-radius: $border-radius;
        padding: 15px;
        margin: 10px 0;

        &.active {
          background-color: #fff8ee;
          border-radius: 0 8px 8px 0;
          border-left: solid 3px $alt-secondary;
        }

        .message-info {
          display: flex;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }

        .message-content {
          h4 {
            font-size: 18px;
            margin-bottom: 2px;
          }
        }

        .message-time {
          text-align: right;
          height: 100%;
          align-self: stretch;
          padding-left: 10px;

          p {
            font-weight: 700;
          }
        }
      }
    }
  }
}
